.blog .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.blog .sidebar a {
   display: block;
   padding: 0.5rem 0;
   text-decoration: none;
}
.blog .sidebar li {
    border-bottom: solid 1px #ccc;
}
.blog .sidebar li.last {
    border-bottom: none;
}
.blog .sidebar a.cc-active {
    font-weight: bold;
}
.post-details {
    font-style: italic;
}
.direction-nav {
    padding-top: 2rem;
}
.direction-nav a {
    text-decoration: uppercase;
    padding: 5px 8px;
    text-decoration: none !important;
}
