.button,
button {
    text-transform: uppercase;
    line-height: 1.4;
    background: #9db26f !important;
    color: #fff !important;
    padding: .85em 2em;
    font-size: 0.98rem;
    font-weight: 700;
}
button.close-button {
    padding: 3px 8px;
    font-size: 3em;
    background: none !important;
    color: #fff !important;
}
.off-canvas button.close-button {
}
button.close-button:hover {
    background: none !important;
}
.button:visited,
button:visited { 
    background: #9db26f !important;
}
.button:hover,
button:hover { 
    background: #333 !important;
}

.main-wrapper a.button,
.main-wrapper button {
    text-decoration: none;
}

.heading-nav a {
    display: inline-block;
    padding: 6px 7px;
    margin: 2px 2px;
    border: solid 1px #fff;
    color: #fff !important;
    text-decoration: none !important;
}
.heading-nav a.active {
   background: #fff;
   color: #333 !important;
}

.button.disabled,
.button.disabled:focus,
.button.disabled:hover,
.button[disabled],
.button[disabled]:focus,
.button[disabled]:hover {
    background-color: #777;
    color: #fff;
}
button#mobile-menu-toggle {
    background: rgba(0,0,0,0) !important;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #fff;
    font-size: 3rem;
    padding: 2px 8px 0 8px;
    line-height: 1;
    margin: 0;
    webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.fade-out {
    -webkit-opacity: 0 !important;
    -moz-opacity: 0 !important;
    opacity: 0 !important;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.fade-in {
    -webkit-opacity: 1 !important;
    -moz-opacity: 1 !important;
    opacity: 1 !important;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}


@media screen and (min-width: 40em) {
    
}


@media screen and (min-width: 64em) {
   
}

@media screen and (min-width: 75em) {
    
}