.footer {
    position: relative;
    background: #d4a300;
}
.footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-repeat: repeat-x;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px,transparent 12px,#fff 13px);
}
.footer::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-repeat: repeat-x;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 0px,#fff 12px,transparent 13px);
}
.about .footer {
    border-top: solid 3px #fff;
}
.about .footer::before {
    height: 0;
}
.about .footer::after {
    height: 0;
}
.footer * {
    color: #fff;
}
.footer p {
    margin-bottom: 0;
}
.footer .fab-facebook-square {
    display: block;
    margin-bottom: 10px;
    font-size: 3.5rem;
}