.footer {
    background: #d4a300;
    background-image: radial-gradient(135deg, #fff 50%, transparent 50%), radial-gradient(225deg, #fff 50%, transparent 50%);
    background-position: top left, top left;
    background-size: 12px 12px;
    background-repeat: repeat-x;
}
.footer * {
    color: #fff;
}
.footer p {
    margin-bottom: 0;
}
#facebook-footer {
    display: block;
    margin-bottom: 10px;
}
#facebook-footer .fa {
    font-size: 3.5rem;
}