form {
    margin-top: -15px;
}
#contact-form {
    max-width: 570px;
}

form input {
    margin-bottom: 20px !important;
    border: solid 2px #0181fe;
}

form textarea {
    min-height: 175px;
    border: solid 2px #0181fe;
}

form label {
    font-size: 1rem;
}

@media screen and (min-width: 40em) {
    
}

@media screen and (min-width: 64em) {
   
}

@media screen and (min-width: 75em) {
    
}