/* Idea taken from: https://designmodo.com/create-full-screen-slider/
/* IMPORTANT NOTE: One class was 'slider' but since foundation also uses the same class, changed to 'css-slider' */

/* Viv added this outer wrapper to allow full-screen but access to content below */
.css-slider-wrapper-outer {
  position: relative;
  overflow: hidden;
  /* Avoid setting width to 100vw or have scrollbar appear bottom of page */ 
  /* width: 100vw; */
  height: 50vh;
}


/* Slider wrapper */
.css-slider-wrapper {
  display: block;
  background: #fff;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slider */
.css-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
  background-size: cover !important;
}

/* Slides Background Color */
.slide-1 {
  left: 0;
}
.slide-2 {
  left: 100%
}
.slide-3 {
  left: 200%
}
.slide-4 {
  left: 300%;
}
.slide-5 {
  left: 400%;
}
.slide-6 {
  left: 500%;
}
.css-slider {
  display: flex;
  justify-content: flex-start;
}
.slider-content {
  position: absolute;
  bottom: 30px;
  padding: 60px 80px 70px 80px;
  margin-left: 30px;
  opacity: 0;
   -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
  -webkit-transition-delay: 1.4s; /* Safari */
  transition-delay: 1.4s;
}
.slider-content * {
  color: #fff;
}


/* Slider Inner Slide Effect */
.css-slider h2 {
  font-weight: 900;
  text-transform: capitalize;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  margin-top: 0;
  letter-spacing: 2px;
}

.css-slider h4 {
  font-size: 22px;
  /* font-family: "Oswald";
  color: rgba(51, 51, 51, 0.349); */
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.css-slider p.blurb {
  font-size: 18px;
  /* font-family: "Oswald";
  color: rgba(51, 51, 51, 0.349); */
  font-weight: bold;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.css-slider > img {
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.slide-1 > img {
  right: 0;
}

.more-btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-left: 30px !important;
  padding-right: 30px !important;
  background-color: rgba(0,0,0,0.25) !important;
  border-radius: 10px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all .2s;
}

.more-btn:hover {
  box-shadow: 0px 0px 60px -17px rgba(51,51,51,1);
}

.css-slider .more-btn:focus,
.navigation .login-btn:focus {
  outline: none;
}

/* Animations */
.css-slider h2 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}
.css-slider h4 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.4s; /* Safari */
  transition-delay: 1.4s;
}
.css-slider p.blurb {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.2s; /* Safari */
  transition-delay: 1.2s;
}
.css-slider > img {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.2s; /* Safari */
  transition-delay: 1.2s;
}

/* Number Pagination */
.number-pagination {
  position: absolute;
  bottom: 50px;
  right: 100px;
  font-family: "Oswald";
  font-weight: bold;
}

.number-pagination span {
  font-size: 30px;
  color: #ea2e49;
  letter-spacing: 4px;
}

.number-pagination span:after {
  content: "/5";
  font-size: 16px;
  color: #fff;
}

/* Slider Pagger */
.slider-pagination {
  position: absolute;
  bottom: 50px;
  width: 575px;
  left: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.slider-pagination label {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
}

/* Slider Pagger Event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4,
.slide-radio5:checked ~ .slider-pagination .page5,
.slide-radio6:checked ~ .slider-pagination .page6 {
  width: 14px;
  height: 14px;
  border: 2px solid #ea2e49;
  background: transparent;
}

/* Slider Slide Effect */
.slide-radio1:checked ~ .css-slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio2:checked ~ .css-slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-radio3:checked ~ .css-slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.slide-radio4:checked ~ .css-slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
.slide-radio5:checked ~ .css-slider {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}
.slide-radio6:checked ~ .css-slider {
  -webkit-transform: translateX(-500%);
  transform: translateX(-500%);
}

.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio4:checked ~ .slide-4 h2,
.slide-radio5:checked ~ .slide-5 h2,
.slide-radio6:checked ~ .slide-6 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio4:checked ~ .slide-4 h4,
.slide-radio5:checked ~ .slide-5 h4,
.slide-radio6:checked ~ .slide-6 h4,
.slide-radio1:checked ~ .slide-1 p.blurb,
.slide-radio2:checked ~ .slide-2 p.blurb,
.slide-radio3:checked ~ .slide-3 p.blurb,
.slide-radio4:checked ~ .slide-4 p.blurb,
.slide-radio5:checked ~ .slide-5 p.blurb,
.slide-radio6:checked ~ .slide-6 p.blurb,
.slide-radio1:checked ~ .slide-1 > img,
.slide-radio2:checked ~ .slide-2 > img,
.slide-radio3:checked ~ .slide-3 > img,
.slide-radio4:checked ~ .slide-4 > img,
.slide-radio5:checked ~ .slide-5 > img,
.slide-radio6:checked ~ .slide-6 > img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}

.slide-radio1:checked ~ .slide-1 .slider-content,
.slide-radio2:checked ~ .slide-2 .slider-content,
.slide-radio3:checked ~ .slide-3 .slider-content,
.slide-radio4:checked ~ .slide-4 .slider-content,
.slide-radio5:checked ~ .slide-5 .slider-content,
.slide-radio6:checked ~ .slide-6 .slider-content {
    opacity: 1;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .css-slider h2 {
    font-size: 20px;
  }
  .css-slider h4 {
    font-size: 16px;
  }

  .slider-content {
    padding: 0 2%
  }

  .navigation {
    padding: 0 2%;
  }

  .navigation-left {
    display: none;
  }

  .number-pagination {
    right: 2%;
  }
  .slider-pagination {
    left: 2%;
  }

  .css-slider .more-btn {
    padding: 0 15px;
    width: 175px;
    height: 42px;
  }

  .css-slider .mre-btn:after {
    top: 15px;
  }

  .css-slider > img {
    right: 2%;
  }

  .slide-1 > img {
    right: -110px;
  }
}