---
title: About
meta_title: 'Early Childhood Education, Waihi'
description: "“Learning impressions, lasting for life”\_ is the core belief that the learning and experiences that the children acquire at Footprints Preschool, will benefit them for the rest of their lives."
heading: About Us
hero_image: /uploads/hero/hero-kids-pirates.jpg
---

{% include heading.html %}

<div class="wrapper-padding padding-top-medium padding-bottom-medium">
    <div class="grid-container">
        
        <div class="grid-x grid-margin-x">
            
            <div class="large-offset-1 large-10 cell">
                <div class="editable">
                	<h2>Learning impressions, lasting for life.</h2>
                	<p>&nbsp;</p>
                </div>
            </div>
            
            <div class="medium-8 large-offset-1 large-6 cell">
                <div class="editable">
                	<h3>Our Logo</h3>
                	<ul>
                		<li><strong>Green</strong> represents our connection with the Ngahere (the Bush).</li>
                		<li><strong>Blue</strong> represents Wai (the Water).</li>
                		<li><strong>Brown</strong> represents the Whenua (the Earth).</li>
                	</ul>
                	<p>All three elements are to be viewed as one - neither can survive without the other. These three elements are central to the learning that children are exposed to at our centre.</p>
                	<p>The two footprints are positioned in the shape of a heart. It represents our belief that the child is at the heart of everything that we do.</p>
                	<p><strong>&ldquo;Learning impressions, lasting for life&rdquo;&nbsp;</strong> is the core belief that the learning and experiences that the children acquire at Footprints Preschool, will benefit them for the rest of their lives.</p>
                </div>
            </div>
            
            <div class="medium-4 large-4 cell">
               <p>
                   <img class="editable" src="/uploads/content/footprints-logo.png" />
               </p>
            </div>
        
        </div>
        
        <div class="grid-x grid-margin-x">
            
            <div class="large-offset-1 large-10 cell">
                <div class="editable">
                	<p><strong>Footprints Preschool is owned and operated by sisters, Tina Mudgway and Kathryn Cochet. The centre was purpose built in 2009 and has consistently maintained a high standard of care and education of all children.</strong></p>
                </div>
            </div>
            
            <div class="large-offset-1 large-5 cell">
                <div class="editable">
                	<h3>Tina and Kath</h3>
                	<p>Kia ora&nbsp;</p>
                	<p>We are the lucky owners of Footprints Preschool, here in Waihi. We purchased the centre from Phil and Pauline Davison in late 2019, and began a fabulous journey with the existing staff. Tina, a qualified Early Childhood Teacher, spent the last ten years working in childcare in Nelson, while Kathryn is a Qualified Primary School Teacher, from Rotorua.&nbsp;</p>
                	<p>We both truely enjoy working with children watching their growth as they learn about the world around them. From this relationship with the child, we become a part of something bigger, part of each family, and the community around us. Hence we have come to purchase a childcare centre together as sisters, turning our small family into a larger one.</p>
                	<p>As a team we value the individual child, their needs, and interests. Our desire is for children to come away from preschool with a strong sense of self worth, good self-esteem, confidence in their individuality, and the ability to be independent in their day to day activities. We have excellent support in the kind and caring staff at the centre - You can read more about them below.</p>
                	<p>We look forward to meeting new families and inviting them to join our community here at Footprints.</p>
                </div>
            </div>
            
            <div class="large-5 cell">
                <div class="editable">
                	<p><img src="/uploads/content/img-8969.JPG" width="1600" height="1197" /></p>
                </div>
            </div>
            
            <div class="large-offset-1 large-10 cell">
                <p>&nbsp;</p>
            </div>
        
        </div>
        
        <div class="grid-x grid-margin-x">
            {% assign sorted_staff = site.staff | sort: "sort_number" %}
            
            {% for person in sorted_staff %}
            
            <div class="medium-4 large-offset-1 large-4 cell">
                {% if person.image %}
                    <p class="staff-photo-container"><img src="{{ site.baseurl }}{{ person.image }}" alt="{{ person.name }}" /></p>
                {% endif %}
            </div>
            
            <div class="medium-8 large-6 cell">
                <h3>{{ person.name }}</h3>
                {{ person content }}
            </div>
            
            <div class="cell text-center">
                {% unless forloop.last %}
                <br />
                {% endunless %}
            </div>
            
            {% endfor %}
        
        </div>
        
    </div>
</div>

<a id="philosophy"></a>

<div class="philosophy wrapper-padding padding-top-xlarge padding-bottom-large">
    <div class="grid-container padding-bottom">
        
        <div class="grid-x grid-margin-x">
            
            <div class="cell">
                	<h2>Footprints Preschool Philosophy</h2>
            </div>
            
            <div class="medium-7 large-6 cell">
                <div class="editable">
                	<p class="lead">Our philosophy is our guide and foundation for everything that we do at Footprints Preschool.</p>
                	<p><strong>Relationships</strong><br />Developing a strong relationship with children comes before everything else. There is no time limit and this process cannot be rushed. We work in partnership with families to ensure that all children are given the best possible opportunity to do this and are flexible in our approaches. It is only when a child feels safe and secure and has a trusting relationship that they will start to fully participate in what we offer at Footprints Preschool. Once this trusting relationship has developed then children are able to strengthen their 'people literacy' skills. A child who feels confident to interact and communicate with children and adults, will have the necessary foundations for higher learning.</p>
                	<p><strong>Emotional well-being</strong><br />A child who has their emotional needs met is able to branch out and explore and learn. Filling a child&rsquo;s &ldquo;emotional cup&rdquo; develops trust and a strong teacher/child relationship. Doing things &ldquo;with&rdquo; children rather than &ldquo;to them&rdquo; helps to support this process. This approach is supported by teachers who are unhurried and responsive to the cues and needs of the child. To support this process we believe that children need to attend regularly to ensure they develop strong relationships with both teachers and children.</p>
                	<p><strong>Play</strong><br />Play is the highest form of learning for the child. Children will experience long periods of uninterrupted play. Teachers are observers in this important process; only stepping in when required to provide support, guidance or when asked to by the child. Children are free to explore outside in all types of weather.</p>
                </div>
            </div>
            
            <div class="medium-5 large-offset-1 large-5 cell">
                <div class="editable">
                	<p><img src="/uploads/content/girls-sharing.jpg" /></p>
                </div>
            </div>
            
        </div>
            
        <div class="grid-x grid-margin-x padding-top-medium">
            
            <div class="medium-5 large-6 cell">
                <div class="editable">
                	<p><img src="/uploads/content/boys-sharing.jpg" /></p>
                </div>
            </div>
            
             <div class="medium-7 large-offset-1 large-5 cell">
                <div class="editable">
                	<p><strong>The environment</strong><br />Our environment represents a home where we meet the biological needs of our children through natural beauty and sustainable practices. We support imagination and creativity by recognizing the importance of 'play urges' which develops a rich understanding of problem solving, communication, attention, risk and resilience.</p>
                	<p><strong>Sustainable practices</strong><br />We see ourselves as the kaitiakitanga of our land. We are mindful of our carbon footprint and take steps to minimise and reduce this while learning collaboratively with the children to promote sustainable practices. Developing children&rsquo;s knowledge of our wider natural environment through hands on experiences is seen as an essential part of this learning.</p>
                	<p><strong>Authenticity</strong><br />At Footprints Preschool we believe in being authentic; both in what we believe in and with what we say and do with our children, families and teachers. Being open and honest is a central component of our team. We are advocates for everyone.</p>
                </div>
            </div>
        
        </div>
        
    </div>
</div>