---
title: About
meta_title:
description:
heading: About Us
hero_image: /uploads/hero/hero-kids-pirates.jpg
---

{% include heading.html %}

<div class="wrapper-padding padding-top-medium padding-bottom-medium">
    <div class="grid-container">
        
        <div class="grid-x grid-margin-x">
            
            <div class="large-offset-1 large-10 cell">
                <div class="editable">
                	<h2>Learning impressions, lasting for life.</h2>
                	<p>&nbsp;</p>
                </div>
            </div>
            
            <div class="medium-8 large-offset-1 large-6 cell">
                <div class="editable">
                
                	<p class="lead">Our logo was carefully designed to reflect and represent our beliefs.</p>
                	<ul>
                		<li><strong>Green</strong> represents our connection with the ngahere or bush.</li>
                		<li><strong>Blue</strong> represents wai or water.</li>
                		<li><strong>Brown</strong> represent the earth or whenua.</li>
                	</ul>
                	<p>All three elements are to be viewed as one - neither can survive without the other. These three elements are central to the learning that children are exposed to at our centre.</p>
                	<p>The two footprints are positioned in the shape of a heart. It represents our belief that the child is at the heart of everything that we do.</p>
                	<p><strong><em>&ldquo;Learning impressions, lasting for life&rdquo;&nbsp;</em> </strong>is the core belief that the learning and experiences that the children acquire at Footprints Preschool, will benefit them for the rest of their lives.</p>
                </div>
            </div>
            
            <div class="medium-4 large-4 cell">
               <p>
                   <img class="editable" src="/uploads/content/footprints-logo.png" />
               </p>
            </div>
        
        </div>
        
        <div class="grid-x grid-margin-x">
            
            <div class="large-offset-1 large-10 cell">
                <div class="editable">
                    <p>&nbsp;</p>
                	<p class="lead"><img src="/uploads/content/pauline-phil-davison-1000.jpg" /></p>
                	<p class="lead">Footprints Preschool is owned and operated by Phil and Pauline Davison. The centre was purpose built in 2009 and has consistently maintained a high standard of care and education for all children.</p>
                </div>
            </div>
            
            <div class="large-offset-1 large-5 cell">
                <div class="editable">
                    <h3>Pauline Davison</h3>
                    <p>Hi I am Pauline.<br />The development of Footprints Preschool started literally over a cup of tea and an idea on how we would love to have a centre that caters for the needs of the community. Footprints was the end result of our collective vision. I believe that children need an unhurried and supportive environment that nurtures and grows relationships. I view each child as an individual in their own right; each one with unique and different needs.</p>

                </div>
            </div>
            
            <div class="large-5 cell">
                <div class="editable">
                    <h3>Philip Davison</h3>
                    <p>Kia ora koutou.<br />I have been managing Footprints since 2013. I am a registered teacher with a Bachelor of Teaching (ECE) Degree. I am married to Pauline and we have 3 girls. I have a passion for the outdoors, messy play and love to see children having fun and learning through their play. I like to make each day different for the children and love seeing that “wow” moment when a child achieves a new goal. Having spent over a decade previously as a frontline Police Officer in the New Zealand police before starting teaching, I truly believe that all children need a loving environment and be surrounded by adults who are truly committed to making a difference in their lives.</p>
                </div>
            </div>
            
            <div class="large-offset-1 large-10 cell">
                <p>&nbsp;</p>
            </div>
        
        </div>
        
        <div class="grid-x grid-margin-x">
            {% assign sorted_staff = site.staff | sort: "sort_number" %}
            
            {% for person in sorted_staff %}
            
            <div class="medium-4 large-offset-1 large-4 cell">
                {% if person.image %}
                    <p style="margin-right: 20px;"><img src="{{ site.baseurl }}{{ person.image }}" alt="{{ person.name }}" /></p>
                {% endif %}
            </div>
            
            <div class="medium-8 large-6 cell">
                <h3>{{ person.name }}</h3>
                {{ person content }}
            </div>
            
            <div class="cell text-center">
                {% unless forloop.last %}
                <br />
                {% endunless %}
            </div>
            
            {% endfor %}
        
        </div>
        
    </div>
</div>

<a id="philosophy"></a>

<div class="philosophy wrapper-padding padding-top-medium padding-bottom-medium">
    <div class="grid-container padding-bottom">
        <div class="grid-x grid-margin-x">
            
            <div class="large-offset-2 large-8 cell">
                <div class="editable">
                	<h2>Our Philosophy</h2>
                	<p class="lead">Our philosophy is the foundation for everything that we do at Footprints Preschool. It is what guides our daily practice.</p>
                	<p><strong>Relationships</strong><br />Developing a strong relationship with children comes before everything else. There is no time limit on this and cannot be rushed. We work in partnership with families to ensure that all children are given the best possible opportunity to do this and are flexible in our approaches. It is only when a child feels safe and secure and has a trusting relationship that they will start to fully participate in what we offer at Footprints Preschool.</p>
                	<p><strong>Emotional well-being</strong><br />A child who has their emotional needs met is able to branch out and explore and learn. Filling a child&rsquo;s &ldquo;emotional cup&rdquo; develops trust and a strong teacher/child relationship. Doing things &ldquo;with&rdquo; children rather than &ldquo;to them&rdquo; helps to support this process. This approach is supported by teachers who are unhurried and responsive to the cues and needs of the child. To support this process we believe that children need to attend regularly to ensure they develop strong relationships with both teachers and children.</p>
                	<p><strong>The environment</strong><br />Our environment is designed to meet the biological needs of the child. We believe in providing open ended resources that are environmentally friendly, support the play urges of the child and are rich in beauty. Open ended resources allow children to develop their imagination, problem solving, creativity and communication.</p>
                	<p><strong>Sustainable practices</strong><br />We see ourselves as the kaitiakitanga of our land. We are mindful of our carbon footprint and take steps to minimise and reduce this while learning collaboratively with the children to promote sustainable practices. Developing children&rsquo;s knowledge of our wider natural environment through hands on experiences is seen as an essential part of this learning.</p>
                	<p><strong>Play</strong><br />Play is the highest form of learning for the child. Children will experience long periods of uninterrupted play. Teachers are observers in this important process; only stepping in when required to provide support, guidance and when asked to by the child.&nbsp;</p>
                	<p><strong>Authenticity</strong><br />At Footprints Preschool we believe in being authentic; both is what we believe in and with what we say and do with our children, families and teachers. Being open and honest is a central component of our team. We are advocates for everyone.</p>
                </div>
            </div>
        
        </div>
    </div>
</div>