---
title: About
meta_title: 'Early Childhood Education, Waihi'
description: >-
  About us, Who are we, our teachers, our Logo meaning, and our preschool
  philosophy.
heading: About Us
hero_image: /uploads/hero/hero-kids-pirates.jpg
---

{% include heading.html %}

<div class="wrapper-padding padding-top-medium padding-bottom-medium">
    <div class="grid-container">
        
        <div class="grid-x grid-margin-x">
            
            <div class="large-offset-1 large-10 cell">
                <div class="editable">
                	
                </div>
            </div>
            
            <div class="medium-8 large-offset-1 large-6 cell">
                <div class="editable">
                	<h3>Philosophy connecting to our Logo</h3>
                	<ul>
                		<li><strong>Green</strong> represents connections with Te Ngahere (the Bush).</li>
                		<li><strong>Blue</strong> represents connections to te Wai (the Water), te Awa (the river) and te moana (the sea).</li>
                		<li><strong>Brown</strong> represents Te Whenua (the land/Earth)</li>
                	</ul>
                	<p>All three elements are to be viewed as one - dependent on each other. They are central to the learning your child will experience at our centre.&nbsp;</p>
                	<p>The two footprints are without shoes, showing the special connection made when bare feet touch earth. They are positioned in the shape of a heart representing our belief that respect for your child is at the heart of everything that we do.</p>
                	<p><strong>&ldquo;Learning impressions, lasting for life&rdquo;&nbsp;</strong> is the core belief that the learning and experiences that your child acquires at Footprints Preschool, will not only prepare them for school, but benefit them for the rest of their lives.</p>
                	<p>See more at our philosophy below.</p>
                	<p>&nbsp;</p>
                	<p>&nbsp;</p>
                </div>
            </div>
            
            <div class="medium-4 large-4 cell">
               <p>
                   <img class="editable" src="/uploads/content/footprints-logo.png" />
               </p>
            </div>
        
        </div>
        
        <div class="grid-x grid-margin-x">
            
            <div class="large-offset-1 large-10 cell">
                <div class="editable">
                	<h3>Our People</h3>
                	<p><strong>Footprints Preschool is owned and operated by sisters, Tina Mudgway and Kathryn Cochet. The centre was purpose built in 2009 and has consistently maintained a high standard of care and education of all children.</strong></p>
                </div>
            </div>
            
            <div class="large-offset-1 large-5 cell">
                <div class="editable">
                	<h3>Tina and Kath</h3>
                	<p>Kia ora&nbsp;</p>
                	<p>We are the lucky owners of Footprints Preschool, here in Waihi. We purchased the centre from Phil and Pauline Davison in late 2019, and began a fabulous journey with the existing staff. Tina, a qualified Early Childhood Teacher, spent the last ten years working in childcare in Nelson, while Kathryn is a Qualified Primary School Teacher, from Rotorua.&nbsp;</p>
                	<p>We both truely enjoy working with children watching their growth as they learn about the world around them. From this relationship with the child, we become a part of something bigger, part of each family, and the community around us. Hence we have come to purchase a childcare centre together as sisters, turning our small family into a larger one.</p>
                	<p>As a team we value the individual child, their needs, and interests. Our desire is for children to come away from preschool with a strong sense of self worth, good self-esteem, confidence in their individuality, and the ability to be independent in their day to day activities. This will put them in the best position to be ready to start school. We have excellent support in the kind and caring staff at the centre - You can read more about them below.</p>
                	<p>We look forward to meeting new families and inviting them to join our community here at Footprints.</p>
                </div>
            </div>
            
            <div class="large-5 cell">
                <div class="editable">
                	<p><img width="1600" height="1197" src="/uploads/content/img-8969.JPG" /></p>
                </div>
            </div>
            
            <div class="large-offset-1 large-10 cell">
                <p>&nbsp;</p>
            </div>
        
        </div>
        
        <div class="grid-x grid-margin-x">
            {% assign sorted_staff = site.staff | sort: "sort_number" %}
            
            {% for person in sorted_staff %}
            
            <div class="medium-4 large-offset-1 large-4 cell">
                {% if person.image %}
                    <p class="staff-photo-container"><img src="{{ site.baseurl }}{{ person.image }}" alt="{{ person.name }}" /></p>
                {% endif %}
            </div>
            
            <div class="medium-8 large-6 cell">
                <h3>{{ person.name }}</h3>
                {{ person content }}
            </div>
            
            <div class="cell text-center">
                {% unless forloop.last %}
                <br />
                {% endunless %}
            </div>
            
            {% endfor %}
        
        </div>
        
    </div>
</div>

<a id="philosophy"></a>

<div class="philosophy wrapper-padding padding-top-xlarge padding-bottom-large">
    <div class="grid-container padding-bottom">
        
        <div class="grid-x grid-margin-x">
            
            <div class="cell">
                <h2 class="editable">
                	Our Philosophy
                </h2>
            </div>
            
            <div class="medium-7 large-6 cell">
                <div class="editable">
                	<p class="lead">Our philosophy is our guide and foundation for everything that we do at Footprints Preschool.</p>
                	<p><strong>Relationships</strong><br />We aim to develop a strong relationship with your child. The relationship comes before everything else. There is no time limit and this process cannot be rushed. We work in partnership with you, the family, to transition your child into our preschool, ensuring they feel safe and supported at all times. &nbsp; Once this trusting relationship has developed your child will be able to participate fully and strengthen their social skills. A child who feels confident to interact and communicate, with both other children, and adults, will have the necessary foundations needed for starting school.</p>
                	<p><strong>Emotional well-being</strong><br />We aim to meet your child's emotional needs so they are able to branch out, explore and learn confidently.&nbsp; By filling your child&rsquo;s &ldquo;emotional cup&rdquo; (giving them lots of aroha/love) they will gain the confidence and strategies to cope with challenging emotions. Doing things &ldquo;with&rdquo; your child rather than &ldquo;to them&rdquo; supports this learning. Teachers will be unhurried and responsive to the cues and needs of your child.&nbsp;</p>
                	<p><strong>Play</strong><br />Play is the highest form of learning for your child. Through play your child will practise important school readiness skills such as curiosity, creativity, negotiation, respect for others, and their environment. They will experience long periods of uninterrupted play at Footprints. The teachers role is to be observers in this important learning time; only stepping in when required to provide support, guidance or when invited by your child.&nbsp;</p>
                </div>
            </div>
            
            <div class="medium-5 large-offset-1 large-5 cell">
                <div class="editable">
                	<p><img src="/uploads/content/girls-sharing.jpg" /></p>
                </div>
            </div>
            
        </div>
            
        <div class="grid-x grid-margin-x padding-top-medium">
            
            <div class="medium-5 large-6 cell">
                <div class="editable">
                	<p><img src="/uploads/content/boys-sharing.jpg" /></p>
                </div>
            </div>
            
             <div class="medium-7 large-offset-1 large-5 cell">
                <div class="editable">
                	<p><strong>The environment</strong><br />The Footprints environment represents an extension of your home. From our family dining table to quiet lounging areas, to the big backyard feel of our outdoors. &nbsp;We meet the biological needs of your child through natural beauty and sustainable practices. The loose parts (objects) in both the indoor and outdoor environment support imagination and creativity. We recognising the importance of 'play urges' (those behaviours that all young children participate in as they grow and develop). It is through acting out these urges that your child will develop a rich understanding of problem solving, communication, attention, risk, and resilience.</p>
                	<p><strong>Sustainable practices</strong><br />We see ourselves as the kaitiakitanga (caretakers) of our place and land. As a business, we are mindful of our carbon footprint and take steps to minimise and reduce this. Your child will develop their understanding of sustainable practices and respect for all living things including all animals, plants, and insects. &nbsp;Developing your child's knowledge of our wider natural environment through hands on experiences is seen as an essential part of this learning.</p>
                	<p><strong>Authenticity</strong><br />At Footprints Preschool we believe in being authentic; both in what we believe in and with what we say and do with our children, families and teachers. Being open and honest is a central component of our team. We are advocates for everyone.</p>
                </div>
            </div>
        
        </div>
        
    </div>
</div>