---
title: Contact
meta_title:
description:
heading: Contact Footprints Preschool
hero_image: /uploads/hero/hero-pirates-contact.jpg
---

{% include heading.html %}

<div class="wrapper-padding">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
        
            <div class="medium-7 large-5 cell">
                
                <form method="post" action="/contact-success/" id="contact-form">
                    
                    <input type="hidden" name="_subject" value="{{ site.title }} | New general contact form submission" />
               
                    <div class="grid-x grid-margin-x">
                        
                        <div class="cell">
                            <label>Your name (required)</label>
                            <input required type="text" name="Name" placeholder="name..." />
                        </div>
                        <div class="cell">
                            <label>Your email (required)</label>
                            <input required type="text" name="Email" placeholder="email..." />
                        </div>
                        <div class="cell">
                            <label>Phone</label>
                            <input type="text" name="Phone" placeholder="phone..." />
                        </div>
                        <div class="cell">
                            <label>Message (required)</label>
                            <textarea name="Message" placeholder="message..."></textarea>
                        </div>
                       
                        <div class="cell">
                            <input type="hidden" name="_to" value="" />
                            <!-- <input type="hidden" name="_cc" value="" /> -->
                            <input type="text" name="_gotcha" style="display: none;" />
                            <div class="g-recaptcha" data-sitekey="6Lce6lkUAAAAADxaQH2q615vN3S14RqU5AjTPnU_"></div>
                            <input type="submit" class="button" value="Send Message" />
                        </div>
                        
                    </div>
                
                </form>
                
                <hr />
                
                    
            </div>
            
            <div class="contact-details medium-5 large-offset-1 large-4 cell">
                
                <h2 class="title">Contact Us</h2>
                
                {% assign contact = site.data.contact %}
                    
                {% if contact.address_description %}
                    <p>{{ contact.address_description | newline_to_br }}</p>
                {% endif %}
                
                {% if contact.phone %}
                    <p><i class="fas fa-phone"></i>&nbsp; {{ contact.phone }}</p>
                {% endif %}
                
                {% if contact.facebook_url %}
                    <p><a href="{{ contact.facebook_url }}"><i class="fab fa-facebook-square"></i></a></p>
                {% endif %}
                   
                
            </div>
        
        </div>
    </div>
</div>

<!-- (% include google-map.html %) -->