---
title: Contact
meta_title: Coal and Mineral Exploration Drilling
description: Contact us for our wide range of drilling contracting services.
heading: Contact Alton Drilling
hero_image: /uploads/hero-images/hero-contact.jpg
---

{% include heading.html %}

<div class="wrapper-padding">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
        
            <div class="medium-7 large-5 cell">
                
                <form method="post" action="/contact-success/" id="contact-form">
                    
                    <input type="hidden" name="_subject" value="Alton Drilling | New general contact form submission" />
               
                    <div class="grid-x grid-margin-x">
                        
                        <div class="cell">
                            <label>Your name (required)</label>
                            <input required type="text" name="Name" placeholder="name..." />
                        </div>
                        <div class="cell">
                            <label>Your email (required)</label>
                            <input required type="text" name="Email" placeholder="email..." />
                        </div>
                        <div class="cell">
                            <label>Phone</label>
                            <input type="text" name="Phone" placeholder="phone..." />
                        </div>
                        <div class="cell">
                            <label>Message (required)</label>
                            <textarea name="Message" placeholder="message..."></textarea>
                        </div>
                       
                        <div class="cell">
                            <input type="hidden" name="_to" value="service@altondrilling.co.nz,felicity@altondrilling.co.nz,minna@altondrilling.co.nz" />
                            <!-- <input type="hidden" name="_cc" value="" /> -->
                            <input type="text" name="_gotcha" style="display: none;" />
                            <div class="g-recaptcha" data-sitekey="6Lce6lkUAAAAADxaQH2q615vN3S14RqU5AjTPnU_"></div>
                            <input type="submit" class="button" value="Send Message" />
                        </div>
                        
                    </div>
                
                </form>
                
                <hr />
                
                <div class="editable">
                	<h3>Application for Employment Form</h3>
                	<p><a href="/uploads/documents/Application-for-Employment-latest-edition-(004).pdf"><strong>Download PDF version (pdf)</strong></a></p>
                	<p><a href="/uploads/documents/Application-for-Employment-latest-edition-(004).pdf"><strong>Download Word version (docx)</strong></a></p>
                </div>
                    
            </div>
            
            <div class="contact-details medium-5 large-offset-1 large-4 cell">
                
                <div class="editable">
                	<h3>Get in Touch</h3>
                	<p><strong>Email:</strong> <a href="javascript:void(location.href='mailto:'+String.fromCharCode(115,101,114,118,105,99,101,64,97,108,116,111,110,100,114,105,108,108,105,110,103,46,99,111,46,110,122)+'?subject=Contact%20Alton%20Drilling%20From%20Website')">service@altondrilling.co.nz</a></p>
                	<p><strong>Free call (NZ):</strong> 0508 425 866</p>
                	<p><strong>Phone (outside NZ):</strong> +64 9 238 2474</p>
                	<p><strong>Fax (outside NZ):</strong> +64 7 549 0013</p>
                	<p><strong>Facebook:</strong> <a target="_blank" href="https://www.facebook.com/Altondrillingltd/">Alton Drilling</a></p>
                	<h3>Address</h3>
                	<p>Alton Drilling Ltd Yard<br />7 Seddon Street<br />Waihi<br />New Zealand</p>
                	<h3>Postal Address</h3>
                	<p>Alton Drilling Ltd<br />PO Box 1300<br />Pukekohe 2340<br />New Zealand</p>
                	<h3>Office Hours</h3>
                	<p><strong>Mondays &ndash; Friday:</strong> 09:00 &ndash; 18:00</p>
                	<p>&nbsp;</p>
                </div>
                
            </div>
        
        </div>
    </div>
</div>

{% include google-map.html %}