---
title: Contact
meta_title:
description:
heading: Contact Footprints Preschool
hero_image: /uploads/hero/hero-pirates-contact.jpg
---

{% include heading.html %}

<div class="wrapper-padding padding-top-medium padding-bottom-medium">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
        
            <div class="medium-7 large-5 cell">
                
                <form method="post" action="/contact-success/" id="contact-form">
                    
                    <input type="hidden" name="_subject" value="{{ site.title }} | New general contact form submission" />
               
                    <div class="grid-x grid-margin-x">
                        
                        <div class="cell">
                            <label>Your name (required)</label>
                            <input required type="text" name="Name" />
                        </div>
                        <div class="cell">
                            <label>Your email (required)</label>
                            <input required type="text" name="email" />
                        </div>
                        <div class="cell">
                            <label>Phone</label>
                            <input type="text" name="Phone" />
                        </div>
                        <div class="cell">
                            <label>Message (required)</label>
                            <textarea name="Message"></textarea>
                        </div>
                       
                        <div class="cell">
                            <input type="hidden" name="_to" value="footprints.preschool@xtra.co.nz" />
                            <!-- <input type="hidden" name="_cc" value="" /> -->
                            <input type="text" name="_gotcha" style="display: none;" />
                            <div class="g-recaptcha" data-sitekey="6LdNRYQUAAAAAHely9jcpViFzKeq_LBwUImeyJhQ"></div>
                            <input type="submit" class="button" value="Send Message" />
                        </div>
                        
                    </div>
                
                </form>
                    
            </div>
            
            <div class="contact-details medium-5 large-offset-1 large-4 cell">
                
                <h2 class="title">Find Us</h2>
                
                {% assign contact = site.data.settings %}
                    
                {% if contact.address_description %}
                    <p class="lead">{{ contact.address_description | newline_to_br }}</p>
                {% endif %}
                
                {% if contact.phone %}
                    <h3><i class="fas fa-phone"></i>&nbsp; {{ contact.phone }}</h3>
                {% endif %}
                
                {% if contact.facebook_url %}
                    <h3><a href="{{ contact.facebook_url }}"><i class="fab fa-facebook-square"></i></a></h3>
                {% endif %}
                   
            </div>
        
        </div>
    </div>
</div>

<!-- (% include google-map.html %) -->