---
title: Alton Drilling Ltd.
meta_title: 'Drilling Contracting Service, Waihi, New Zealand'
description: >-
  We offer a comprehensive Drilling Contracting Service with the ability to
  provide experienced staff, purpose-built rigs, custom built camp and rig huts,
  helicopter support, and management of Health, Safety & Environmental risks.
heading:
---

{% include heading.html %}

<section class="blurb wrapper-padding">
     
     <div class="grid-container">
        <div class="grid-x grid-margin-x">
            
            <div class="large-8 cell">
               
                <!-- {% include heading.html %} -->
            
                <div class="editable lead">
            	<h2>Your mineral exploration experts</h2>
            	<p>We offer a comprehensive Drilling Contracting Service with the ability to provide experienced staff, purpose-built rigs, custom built camp and rig huts, helicopter support, and management of Health, Safety &amp; Environmental risks.</p>
            	<p>We can keep downtime to a minimum with regular maintenance programes, a wide range of spares in stock, and thorough knowledge of our equipment.</p>
            </div>
                <p><a class="editable button" href="/about/">More About Us</a></p>
                
            </div>
    
        </div>
    </div>
    
</section>

<section class="shortcuts wrapper-padding">
     
     <div class="grid-container">
        <div class="grid-x grid-margin-x">
            
            <div class="large-4 cell">
                
                <p><img class="editable" alt="" src="/uploads/content-images/xd1150.jpg" width="600" height="450" /></p>
                <h2 class="editable">Services</h2>
                <div class="editable">
                    <p>We offer a comprehensive Drilling Contracting Service with the ability to provide experienced staff, purpose built rigs, custom built camp and rig huts, helicopter support, and management of  Health, Safety & Environmental risks.</p>
                   
                </div>
                <p><a class="editable button" href="/services/">More</a></p>
                
            </div>
            
            <div class="large-4 cell">
                
                <p><img class="editable" alt="" src="/uploads/content-images/lt40-man-portable-4.jpg" width="600" height="450" /></p>
                <h2 class="editable">
                	Equipment Sales
                </h2>
                <div class="editable">
                	<p>We have a wide range of drilling equipment for sale.</p>
                </div>
                <p><a class="editable button" href="/products/">More</a></p>
                
            </div>
            
            <div class="large-4 cell">
                
                <p><img class="editable" alt="" src="/uploads/content-images/wm-mast-1.jpg" width="600" height="450" /></p>
                <h2 class="editable">Projects</h2>
                <div class="editable">
                	<p>We have completed and are currently involved in a large number of drilling projects.</p>
                </div>
                <p><a class="editable button" href="/projects/">More</a></p>
                
            </div>
    
        </div>
    </div>
    
</section>