---
title: Nature Programme
meta_title:
description:
hero_image: /uploads/hero/hero-tree-climbing.jpg
photos:
  - gallery_image: /uploads/gallery/phils-iphone-2621.jpg
    title:
  - gallery_image: /uploads/gallery/railway-flower-walk-194.jpg
    title:
  - gallery_image: /uploads/gallery/phils-iphone-2603.jpg
    title:
  - gallery_image: /uploads/gallery/phils-iphone-1177.jpg
    title:
  - gallery_image: /uploads/gallery/mandy-july-20-2018-93.jpg
    title:
  - gallery_image: /uploads/gallery/leonas-august-65.jpg
    title:
  - gallery_image: /uploads/gallery/img-1848.jpg
    title:
  - gallery_image: /uploads/gallery/img-2664.jpg
    title:
---

{% include heading.html %}

<div class="wrapper-padding padding-top-medium padding-bottom-medium">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            
            <div class="large-offset-2 large-8 cell">
                
                <div class="editable">
                	<p class="lead">Footprints Preschool have a strong connection with the surrounding natural environment.</p>
                	<p>Each week we take a group of children on outings into different environments in our community. One day we could be at the beach, the next day in the bush. By doing this we are developing exploration, problem-solving, the ability to respond to changing contexts, imagination, risk management, improving child physical and mental health and well-being, sustainability and learning about how to care for our wonderful environment.</p>
                	<p>The important part of this programme is that it allows children long periods of play so that they are able to develop their own knowledge and understanding.</p>
                	<p><img src="/uploads/content/phils-iphone-2617.jpg" srcset="/uploads/content/phils-iphone-2617@2x.jpg 1600w" /></p>
                </div>
                
            </div>
            
            <div class="large-offset-2 large-8 cell">
                
                {% if page.photos[0].gallery_image %}
                    {% include lightbox.html small="2" medium="3" large="4" %}
                {% endif %}
                
            </div>
        
        </div>
    </div>
</div>