<div class="wrapper-padding text-center">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            
            <div class="cell text-center">
                <a id="facebook-footer" href="https://www.facebook.com/Altondrillingltd/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <small>&copy; Alton Drilling {{ site.time | date: '%Y' }}</small>
                <!-- <br /> -->
                <!-- <small>website: <a style="color: #fff;" href="http://www.lumina.net.nz">www.lumina.net.nz</a></small> -->
            </div>
            
        </div>
    </div>
</div>