<div class="heading">
    
    <div class="wrapper-padding">
    
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                 
                <div class="cell">
                    
                    <h1><a href="/products/" style="color: #fff; font-size: 70%;">Products</a> <span style="font-size: 70%;">/</span>
                    {% if page.product_type  %}
                        {% assign words = page.product_type | split: '-' %}
                            <a href="{{ site.baseurl }}/products/type/{{ page.product_type }}/" style="color: #fff; font-size: 70%;">{% for word in words %}{{ word | capitalize }} {% endfor %}</a> <span style="font-size: 70%;">/</span>
                    {% endif %}
                    &nbsp; {{ page.title }}</h1>
            
                    {% assign sorted_products = site.products | where: "product_type" , page.product_type | sort: "sort_number" | reverse %}
    
                    {% if sorted_products.size > 0 %}
                    
                        <br />
                    
                        <div class="heading-nav hide-for-print">
                    
                        {% for product in sorted_products %}
                            <a href="{{ site.baseurl }}{{ product.url }}" class="{% if page.url == product.url %}active{% endif %}">{{ product.title }}</a>
                        {% endfor %}
                        
                        </div>
                    
                    {% endif %}
                    
                </div>
                
            </div>
        </div>
    
    </div>
    
</div>