<div class="heading">
    
    <div class="wrapper-padding">
    
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                 
                <div class="cell">
                    
                    <h1><a href="{{ include.section_url }}" style="color: #fff; font-size: 70%;">{{ include.section_title }}</a> <span style="font-size: 70%;">/</span> &nbsp; {{ page.title }}</h1>
                    
                    {% if page._section_id == "projects" %}
                        {% assign sorted_items = include.collection | sort: 'date' | reverse %}
                    {% else %}
                        {% assign sorted_items= include.collection | sort: 'sort_number' | reverse %}
                    {% endif %}
    
                    {% if sorted_items.size > 0 %}
                    
                        <br />
                    
                        <div class="heading-nav hide-for-print">
                    
                        {% for item in sorted_items %}
                            <a href="{{ site.baseurl }}{{ item.url }}" class="{% if page.url == item.url %}active{% endif %}">{{ item.title }}</a>
                        {% endfor %}
                        
                        </div>
                    
                    {% endif %}
                    
                </div>
                
            </div>
        </div>
    
    </div>
    
</div>