<div class="heading">
    
    <div class="wrapper-padding">
    
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                 
                <div class="cell">
                    
                    <h1><a href="/blog/" style="color: #fff; font-size: 70%;">News</a> <span style="font-size: 70%;">/</span> &nbsp; {{ page.title }}</h1>
                    
                </div>
                
            </div>
        </div>
    
    </div>
    
</div>