<div class="toggle-container wrapper-padding hide-for-print">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="small-2 cell">
                <button id="mobile-menu-toggle" type="button" data-toggle="my-off-canvas"><i class="fa fa-bars" aria-hidden="true"></i></button>
            </div>
            <div class="small-8 cell">
                <div class="text-center">
                   <img id="mobile-logo" src="{{ site.baseurl }}/images/logo.png" alt="{{ site.title }}" />
                </div>
            </div>
        </div>
    </div>
</div>