<button id="close-mobile-menu" class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
</button>

<ul class="vertical menu">
        
    <li class="mobile-icon">
        <img src="{{ site.baseurl }}/images/logo.png" alt="{{ site.title }}" />
    </li>
      
    {% for link in site.data.navigation.links %}
    
        {% if link.hide != true %}
        
            {% assign class = "" %}
        
            {% if link.link == page.url %}
                {% assign class = class | append: " active" %}
            {% endif %}
                    
            <li class="{{ class }}">
                <a href="{{ site.baseurl }}{{ link.link }}">{{ link.name }}</a>
            </li>
          
        {% endif %}
          
    {% endfor %}
            
</ul>