<div class="cell">
    <p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}"><strong>&#9998;</strong> Edit Post</a></p>
    <p>
        <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.summary_image != null %}
            <img src="{{ site.imgix_url }}{{ post.summary_image }}?w=800&h=400&fit=crop" alt="{{ post.title }}" title="{{ post.title }}" />
        {% endif %}
        </a>
    </p>
    <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</h4>
    {% include post-details.html post=post %}
	<p>{{ post.content | strip_html | truncatewords: 40,"..." }}</p>
	 <p><a class="button" href="{{ site.baseurl }}{{ post.url }}">More&hellip;</a></p>
</div>