<div class="css-slider-wrapper-outer">

    <!-- Slider Wrapper -->
    <div class="css-slider-wrapper">
          
          {% for slide in site.data.slider.slides %}
          <input type="radio" name="slider" class="slide-radio{{ forloop.index }}" id="slider_{{ forloop.index }}" /> <!-- Default uses (% if forloop.first %)checked(% endif %) -->
          {% endfor %}
    
          <!-- Slider Pagination -->
          <div class="slider-pagination">
            {% for slide in site.data.slider.slides %}
            <label for="slider_{{ forloop.index }}" class="page{{ forloop.index }}"></label>
            {% endfor %}
          </div>
          
          {% for slide in site.data.slider.slides %}
    
          <div class="css-slider slide-{{ forloop.index }}" style="{% if slide.image %}background-image: url('{{ site.baseurl }}{{ slide.image }}');{% endif %}">
            <!-- <img src="{{ site.baseurl }}/images/model-1.png" alt=""> -->
            <div class="slider-content">
              <h4>{{ slide.sub_title }}</h4>
              <h2>{{ slide.title }}</h2>
              <p class="blurb">{{ slide.blurb }}</p>
            </div>
            
            <div class="number-pagination">
              <span>{{ forloop.index }}</span>
            </div>
          </div>
          
          {% endfor %}
          
    </div>

</div>