---
layout: default
---

{% include heading-post.html %}

<div class="wrapper-padding padding-top-medium padding-bottom-medium">
    <div class="grid-container">
        
        <div class="grid-x grid-margin-x">
                
            <div class="large-8 cell">
                
                <p class="editor-link"><a href="cloudcannon:collections/{{ page.path }}"><strong>&#9998;</strong> Edit Post</a></p>
        
    		    {% if page.summary_image != null %}
                    <p><img src="{% include relative-src.html src=page.summary_image %}" alt="{{ page.title }}" /></p>
                {% endif %}
                
                {% include post-details.html post=page %}
                
                {% include addthis.html %}
    
                {{ content }}
    
                {% if page.embed_code %}
                    {% include embed.html %}
                {% endif %}
                        
                {% if page.photos[0].gallery_image %}
            
                {% include lightbox.html small="3" medium="4" large="4" %}
                    
                {% endif %}
                
                <div class="grid-x grid-margin-x">
                        
                    <div class="small-6 medium-5 large-5 cell">
                    
                        {% if page.previous %}
                            <h4 class="direction-nav"><a href="{{ site.baseurl }}{{ page.previous.url }}">&laquo; Previous post</a></h4>
                        {% endif %}
                     
                    </div>
                        
                    <div class="small-6 medium-offset-2 medium-5 large-offset-2 large-5 cell">
                        
                        {% if page.next %}
                            <h4 class="direction-nav" style="text-align: right;"><a href="{{ site.baseurl }}{{ page.next.url }}">Next post &raquo;</a></h4>
                        {% endif %}
                    
                    </div>
                    
                </div>
            
            </div>
            
            <div class="large-4 cell">
                {% include blog-navigation.html %}
            </div>
                
        </div>
        
    </div>
</div>