---
layout: default
---

{% include heading-product.html %}

<div class="wrapper-padding">
    
    <div class="grid-container">
        
        <div class="grid-x grid-margin-x">
            
            <div class="medium-7 large-8 cell">
                {{ page.content }}
                <p><a class="button" href="/contact/?product={{ page.url }}">Make Enquiry</a></p>
            </div>
            
            <div class="medium-5 large-4 cell">
                {% if page.photos[0].gallery_image %}
                    {% include lightbox.html small="2" medium="2" large="2" %}
                {% endif %}
            </div>
            
        </div>
    		        
    </div>
</div>